*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width:100%;
    height: 100%;
}
.main{
    width:100%;
    height:100vh;
}
.nav{
    width:100%;
    height: 6vw;
    /* background-color: rgb(107, 195, 236); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 4vw;
    /* position:fixed; */
}
.nav h1{
    font-size: 3vw;
    font-weight: 500;
}
.nav-part2{
    display: flex;
    align-items: center;
    text-align: center;
}
.nav-part2 ul{
    display: flex;
    align-items: center;
    text-align: center;
    gap:3vw;

}
.nav-part2 ul li{
    list-style: none;
    font-size: 1.5vw;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
#sign{
    font-size: 1.5vw;
    padding:7px 20px;
    border: none;
    background-color: rgb(238, 187, 187);
    border-radius: 3px;
    margin-left: 20px;
}
.nav i{
    display: none;
    font-size: 2vw;
    flex-wrap: 800;
}
ul li:hover{
    background-color: rgb(216, 131, 135);
    color:rgb(248, 243, 243);
}
.drop{
    display: none;
}

ul li:hover .drop{
    display: block;
    position: absolute;
    margin-left:25px;
    margin-top:10px;
}
.drop ul{
    display: block;
}
.drop ul li{
    display: block;
    padding:10px 10px;
    color:black;
}
.middle{
    width:100%;
    height: 100vh;
    display: flex;
}
.left{
    width: 55%;
    height:100vh;
    /* background-color: lightgreen; */
}
.left h1{
    padding:4vw 2vw;
    font-size: 4vw;
}
.left span{
    color:red;
}
.left p{
    padding:0vw 4vw;
    font-size: 1.8vw;
}
.left button{
    margin:4vw 18vw;
    font-size: 2vw;
    padding:10px 10px;
    background-color: rgb(238, 73, 100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right{
    width:45%;
    height: 100vh;
    /* background-color: blueviolet; */
}
.right img{
    width:100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}
.man{
    width:100%;
    height: 100vh;
    background-color: rgb(247, 240, 241);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top:10px;
}
.box{
    width:21vw;
    height: 60vh;
    /* background-color: brown; */
    border-radius: 10px;
    padding:10px;
    border:2px solid black;
}
.box img{
    width:100%;
    height: 40%;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
}
.box h4{
    font-size: 1.6vw;
    padding:1.3vw 3.6vw;
}
.box p{
    font-size: 1.4vw;
}
.box span{
    font-size: 1.6vw;
    color:darkgreen;
}
.box h3{
    font-size: 2.5vw;
    padding:1vw 2.5vw;
}
.box1{
    width:21vw;
    height: 60vh;
    /* background-color: brown; */
    border-radius: 10px;
    padding:10px;
    border:2px solid black;
}
.box1 img{
    width:100%;
    height: 40%;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
}
.box1 h4{
    font-size: 2vw;
    padding:1.3vw 5.5vw;
    
}
.box1 p{
    font-size: 1.4vw;
}
.box1 span{
    font-size: 1.6vw;
    color:darkgreen;
}
.box1 h3{
    font-size: 2.5vw;
    padding:1vw 2.5vw;
}
.box2{
    width:21vw;
    height: 60vh;
    /* background-color: brown; */
    border-radius: 10px;
    padding:10px;
    border:2px solid black;
}
.box2 img{
    width:100%;
    height: 40%;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
}
.box2 h4{
    font-size: 2vw;
    padding:1.3vw 5.5vw;
    
}
.box2 p{
    font-size: 1.4vw;
}
.box2 span{
    font-size: 1.6vw;
    color:darkgreen;
}
.box2 h3{
    font-size: 2.5vw;
    padding:1vw 2.5vw;
}
.box3{
    width:21vw;
    height: 60vh;
    /* background-color: brown; */
    border-radius: 10px;
    padding:10px;
    border:2px solid black;
}
.box3 img{
    width:100%;
    height: 40%;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
}
.box3 h4{
    font-size: 2vw;
    padding:1.3vw 7vw;
    
}
.box3 p{
    font-size: 1.4vw;
}
.box3 span{
    font-size: 1.6vw;
    color:darkgreen;
}
.box3 h3{
    font-size: 2.5vw;
    padding:1vw 2.5vw;
}
.footer{
    width:100%;
    height:70vh;
    background-color: rgb(17, 16, 16);
    display: flex;
}
.address{
    width:50%;
    height: 100%;
}
.address h3{
    padding:5vh 5vh;
    font-size: 4vw;
    color:white;
}
.address h2{
    font-size: 3vw;
    color:white;
    padding: 4vh 4vw;
}
.address h1{
    color:white;
    padding:4vh 4vw;
}
.contact{
    width:50%;
    height: 100%;
}
.contact h4{
    font-size: 3vw;
    color:white;
    padding: 2.2vw 4vw;
}





@media(max-width:600px){
    .nav{
        width:100%;
        height: 10vw;
    }
    .nav h1{
        font-size: 5vw;
        font-weight: 500;
    }
    .nav-part2{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 5vw;
        padding:0 5vw;
    }
    .middle{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .left{
        width:90%;
        padding:4vw 2vw;
    }
    .left h1{
        font-size: 7vw;
        font-weight: 900;
        margin-top: 5vh;
        line-height: 6vh;

    }
    .left p{
        font-size: 5vw;
        padding:2vw 3vw;
        margin-top: 5vh;
        line-height: 4vh;
    }
    .left button{
        font-size: 5vw;
        padding: 10px 15px;
        margin-top: 5vh;
    }
    .right{
        width:100%;

    }
    .man{
        width:100%;
        display: block;
        padding-top:100vh;
        padding-left:15vw;
    }
    .box{
        width:80%;
        height:50vh;
    }
    .box h4{
        font-size: 5vw;
        padding:4vw 15vw;
    }
    .box p{
        font-size: 4vw;
        font-weight: 500;
    }
    .box span{
        font-size:4vw;
    }
    .box h3{
        font-size: 5vw;
        padding:10vw 15vw;
    }
    .box1{
        width:80%;
        height:50vh;
    }
    .box1 h4{
        font-size: 5vw;
        padding:4vw 15vw;
    }
    .box1 p{
        font-size: 4vw;
        font-weight: 500;
    }
    .box1 span{
        font-size:4vw;
    }
    .box1 h3{
        font-size: 5vw;
        padding:10vw 15vw;
    }
    .box2{
        width:80%;
        height:50vh;
    }
    .box2 h4{
        font-size: 5vw;
        padding:4vw 15vw;
    }
    .box2 p{
        font-size: 4vw;
        font-weight: 500;
    }
    .box2 span{
        font-size:4vw;
    }
    .box2 h3{
        font-size: 5vw;
        padding:10vw 15vw;
    }
    .box3{
        width:80%;
        height:50vh;
    }
    .box3 h4{
        font-size: 5vw;
        padding:4vw 15vw;
    }
    .box3 p{
        font-size: 4vw;
        font-weight: 500;
    }
    .box3 span{
        font-size:4vw;
    }
    .box3 h3{
        font-size: 5vw;
        padding:10vw 15vw;
    }
}